@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:wght@400;700;900&display=swap");
@import "./homepage/home.scss";
@import "./header.scss";
@import "./menu.scss";
@import "./homepage/homeAbout.scss";
$red: #e20001;
$black: #191919;

body {
  background-color: #f8f8ff;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.panels {
  width: 100vw;
  height: 100vh;
  background-color: #1d1d1d;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;

  /*   .panel-right {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: lightblue;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .panel-left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50vw;
    height: 100vh;
    background-color: lightcoral;
  } */
}

//CUSTOM SCROLLBAR

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.about {
  background-color: red;
}
